<table width="100%" border="1">
	<thead>
		<tr>
			{% for date,start_times in shift_dates %}
				<th>{{ date|date('l jS')}}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		<tr>
			{% for date,shift_times in shift_dates %}
				<td>
					{% for shift_time,shifts in shift_times %}
						{{ shift_time }} ({{ shifts|length }})<br/>
					{% endfor %}
				</td>
			{% endfor %}
		</tr>
	</tbody>
</table>